<VirtualHost *:80>
	ServerName buildbot.scummvm.org
	Redirect permanent / https://buildbot.scummvm.org/
</VirtualHost>

<VirtualHost *:443>
	ServerName buildbot.scummvm.org

	ErrorLog ${APACHE_LOG_DIR}/buildbot_error.log
	CustomLog ${APACHE_LOG_DIR}/buildbot_access.log combined

	Include scummvm-ssl.conf

	AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/xml application/javascript application/x-javascript text/javascript application/json text/x-json

	<Directory /var/www/html/.well-known/acme-challenge/>
		Options -Indexes
	</Directory>

	ProxyPass /.well-known/acme-challenge/ !
	Alias /.well-known/acme-challenge/ /var/www/html/.well-known/acme-challenge/
	ProxyPass /ws ws://localhost:{{ internal_buildbot_port }}/ws
	ProxyPassReverse /ws ws://localhost:{{ internal_buildbot_port }}/ws
	ProxyPass / http://localhost:{{ internal_buildbot_port }}/
	ProxyPassReverse / http://localhost:{{ internal_buildbot_port }}/
</VirtualHost>
