<VirtualHost buildbot.scummvm.org:80>
	ServerName buildbot.scummvm.org

	ErrorLog ${APACHE_LOG_DIR}/buildbot_error.log
	CustomLog ${APACHE_LOG_DIR}/buildbot_access.log combined

	<Location />
		Satisfy any
		Allow from all
		ProxyPass http://localhost:{{ internal_buildbot_port }}/
		ProxyPassReverse http://localhost:{{ internal_buildbot_port }}/
	</Location>
</VirtualHost>
